.accessibility-menu {
  position: fixed;
  top: calc(50% + 95px);
  right: 0px;
  transform: translateY(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.accessibility-button {
  cursor: pointer;
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  z-index: 1200;
  color: #fff;
  background-color: #502929;
  padding: 0.5rem;
}

.logo {
  width: 40px;
  padding: 0;
}

.accessibility-option {
  margin-bottom: 5px;
  cursor: pointer;
  color: #000;
}
