.placeorders_page {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    margin-top: 20px;
}

.placeorders_page {
    display: flex;
    flex-direction: column;
}

.place_left_side {
    width: 100%;
    order: 2;
}

.place_right_side {
    width: 100%;
    order: 1;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.menu-title {
    /* margin-top: 40px; */
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.grid-button {
    font-size: 1.2rem;
    /* Larger font size for name and price */
    padding: 10px;
    height: 140px;
    /* Padding inside the button */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-button .product-info {
    /* text insode of the buttons */
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
    color: #fff;
}

/* Style for the right side */


.order_mods {
    display: flex;
    justify-content: space-evenly;
}

.order_placing_btns {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;

}

.order_placing_btns button {
    color: #ffffff;
    background-color: #502929;
    width: 250px;
    height: 100px;
    font-size: 2rem;
}

.order_placing_btns button:hover {
    background-color: #994d4d;
    color: #fff;
}

.checkbox_container {
    display: flex;
}


.order_mods {
    display: flex;
    justify-content: space-evenly;
}

.quant_label {
    font-weight: bold;
    font-size: 25px;
}

#quantityInput {
    width: 100px;
    /* Adjust the width as needed */
    /* Add any additional styling as needed */
}

.mod_label {
    font-weight: bold;
    font-size: 25px;
}

.horizontal_checks {
    display: flex;
    gap: 20px;
    /* Adjust the gap as needed */
    font-size: 20px;
}

.selectedAttributes h1 {
    font-size: large;
    margin-left: 20px;
    display: flex;
}

.acc_div {
    display: flex;
    flex-direction: row;
    padding-left: 10px;
}

.row_box {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.row_box h1 {
    font-size: 2rem;
    /* Remove default margin on h1 elements */
}

/* --------------------table stuff ----------- */


.table .table_label {
    font-size: 1.4rem;
}

.table .table_entry {
    font-size: 1.2rem;
}