/* --------------HEADER STUFF----------------- */
/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
} */

.page_container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/*----------------END OF HEADER*-----------------------*/
.placeorders_page {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.place_left_side {
    width: 60%;
    /* Takes up 2/3 of the page width */
    /* padding: 20px; */
    /* Add padding as needed */
    box-sizing: border-box;
    /* Include padding in the width */
    flex: 2;
}

.place_right_side {
    width: 40%;
    /* Adjust the width as needed */
    align-items: center;
    /* Center-align its contents horizontally */
    color: #333;
    margin-top: 60px;
    padding: 20px;
    flex: 1;
    /* Add padding as needed */

}

.place_right_side h1 {
    font-size: 1.2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    /* Adjust the gap between buttons as needed */
    justify-content: flex-start;
}

.grid-button {
    background-color: #032f5e;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 20px;
    /* Adjust padding for the button size */
    height: 120px;
}

.grid-button:hover {
    background-color: #016ada;
}

.menu-title {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.place_right_side p1 {
    color: #333;
    font-size: larger;
}

.order_mods {
    display: flex;
    justify-content: space-evenly;
}

.quant_label {
    font-weight: bold;
    font-size: 20px;
}

.mod_label {
    font-weight: bold;
    font-size: 20px;
}

.order_placing_btns{
    display: flex;
    justify-content: space-between;
}

.order_placing_btns button{
    color: #000000;
    background-color:#aac9eb
}

.order_placing_btns button:hover{
    background-color: #2989ef;
    color: #fff;
}

.horizontal_checks{
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
  }