
/* -----------------HEADER STUFF ------------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the header */
.header {
    background-color: #333; /* Example background color */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 10%;
}

.sharetea_header {
    font-size: 3rem;
    margin-left: 10px;
}

.links {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 10px;
    align-items: center; /* Vertically align the links with the header */
}

.links li {
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    margin: 10px;
}

.links li:hover {
    text-decoration: underline;
}
/* --------------------BODY STUFF ------------------ */
.body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big_logo {
    font-size: 2rem;
    text-align: center;
    /* Increase the font size */
    margin-bottom: 40px;
    /* Add margin to create space between the text and buttons */
}

.button-container {
    display: flex;
    justify-content: center;
    /* Center the buttons horizontally */
    gap: 50px;
    /* Add spacing between the buttons */
}

.home_buttons {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #4d95e2;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #095bb2;
}

.login-area {
    display: none;
    /* Initially hide the login area */
    padding: 20px;
}
