
/* --------------------BODY STUFF ------------------ */
.body {
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.big_logo {
    font-size: 2rem;
    text-align: center;
    /* Increase the font size */
    /* margin-bottom: 20px; */
    /* Add margin to create space between the text and buttons */
}

.button-container {
    display: flex;
    justify-content: center;
    /* Center the buttons horizontally */
    gap: 50px;
    /* Add spacing between the buttons */
}

.home_buttons {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #4d95e2;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #095bb2;
}

.login-area {
    display: none;
    /* Initially hide the login area */
    padding: 20px;
}
