/* In your CSS file */
.centered-container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    padding-top: 35%;
    width: 82%;
    position: relative;
    left: 17%;
    padding-top: 77%;
  }
  

