/* Accessibility.css */

.accessibility-menu {
  position: fixed;
  top: 140px;
  right: 0px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.accessibility-button {
  cursor: pointer;
  position: fixed;
  top: 100px;
  right: 0px;
  z-index: 1000;
}

.accessibility-option {
  margin-bottom: 5px;
  cursor: pointer;
}

/* Add to your CSS file */

.bigger-text {
  font-size: 1.2em; /* Adjust the font size as needed */
}

.high-contrast {
  background-color: #fff;
  color: #000;
}

.big-cursor {
  cursor: pointer;
  font-size: 1.5em; /* Adjust the cursor size as needed */
}
