<!DOCTYPE html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>TAs</h1>
    <% for (var i in orders) {%>
        <p>Order ID: <%=orders[i].id%>, Price: <%=orders[i].price%><p>
    <% } %>
</body>