.header_cashier {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #502929;
    color: #ffffff;
    padding: 10px 20px;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 80px;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.sharetea_header {
    font-size: 3rem;
    margin-left: 10px;
    font-weight: bold;
}

.links {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 10px;
    line-height: 1;
}

.links li {
    color: #f7f7f7;
    cursor: pointer;
    font-size: 1.6rem;
    margin: 10px;
}

.links li:hover {
    text-decoration: underline;
}

.links a {
    text-decoration: none;
    color: #ffffff;
}

.links a:hover {
    text-decoration: underline;
    color: #ffffff;
}
