/* In your CSS file */
.centered-container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    width: 82%;
    position: relative;
    top: 10px;
    left: 17%;
  }

.pop{
  background-color: #DCDCDC; /* Green */
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: all 0.3s ease;; /* Green */
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  width: 100%;
}
  


.pop:hover{
  background-color: #C0C0C0;
}






/* Default font size */
.font-size-default {
  font-size: 16px; /* or whatever your default size is */
}

/* Large font size */
.font-size-large {
  font-size: x-large; /* or whatever size you consider to be large */
}


.high-contrast {
  background-color: #000; /* Black background for high contrast */
  color: #FFF; /* White text for high contrast */
}

.high-contrast button {
  background-color: #353935 ; /* White button background */
  color: #FFF; /* Black button text */
}

.high-contrast table {
  border: 2px solid #FFF; /* White border for tables */
}

.high-contrast th,
.high-contrast td {
  border: 2px solid #FFF; /* White border for table cells */
}


