/* In your CSS file */
.centered-container-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    width: 82%;
    position: relative;
    top: 50px;
    left: 17%;
  }
  

