/*--------------HEADER STUFF-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

/* Style the header to go across the entire top of the page */
.header {
    width: 100%;
    background-color: #333;
    /* Example background color */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;

}

.sharetea_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    margin-left: 10px;
}

.links {
    margin-top: 12px;
    justify-content: flex-start;
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.links li {
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    margin: 0 1rem;
}

.links li:hover {
    text-decoration: underline;
}

/*----------------END OF HEADER*-----------------------*/
.placeorders_page {
    display: flex;
    width: 100%;
}

.place_left_side {
    width: 60%; /* Takes up 2/3 of the page width */
    padding: 20px; /* Add padding as needed */
    box-sizing: border-box; /* Include padding in the width */
}

.place_right_side {
    width: 40%; /* Adjust the width as needed */
    align-items: center; /* Center-align its contents horizontally */
    color: #333;
    margin-top: 60px;
    padding: 20px; /* Add padding as needed */

}
.place_right_side h1{
    font-size: 1.2rem;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px; /* Adjust the gap between buttons as needed */
    justify-content: flex-start;
}

.grid-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 20px; /* Adjust padding for the button size */
    height: 120px;
}

.grid-button:hover {
    background-color: #073566;
}

.menu-title {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.place_right_side p1 {
    color: #333;
    font-size: larger;
}

.order_mods {
    display: flex;
    justify-content: space-evenly;
}
