* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

/* Style the header to go across the entire top of the page */
/* ------------------HEADER STUFF ------------------- */
/*--------------HEADER STUFF-----------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

/* Style the header to go across the entire top of the page */
.header {
    width: 100%;
    background-color: #333;
    /* Example background color */
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;

}

.sharetea_header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 3rem;
    margin-left: 10px;
}

.links {
    margin-top: 12px;
    justify-content: flex-start;
    list-style: none;
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.links li {
    color: #fff;
    cursor: pointer;
    font-size: 1.6rem;
    margin: 0 1rem;
}

.links li:hover {
    text-decoration: underline;
}
/* --------------------BODY STUFF ------------------ */
.body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.big_logo {
    font-size: 10rem; /* Increase the font size */
    margin-bottom: 20px; /* Add margin to create space between the text and buttons */
  }
  
  .button-container {
    display: flex;
    justify-content: center; /* Center the buttons horizontally */
    gap: 50px; /* Add spacing between the buttons */
  }
button {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #658ab1;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
  }

  button:hover{
    background-color: #095bb2;
  }

