* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

/* Style the header to go across the entire top of the page */
/* ------------------HEADER STUFF ------------------- */
/*--------------HEADER STUFF-----------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Kumbh Sans", sans-serif;
  scroll-behavior: smooth;
}

/* Style the header to go across the entire top of the page */
.header {
  width: 100%;
  background-color: #333;
  /* Example background color */
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.sharetea_header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 3rem;
  margin-left: 10px;
}

.links {
  margin-top: 12px;
  justify-content: flex-start;
  list-style: none;
  display: flex;
  gap: 10px;
  margin-right: 10px;
}

.links li {
  color: #fff;
  cursor: pointer;
  font-size: 1.6rem;
  margin: 0 1rem;
}

.links li:hover {
  text-decoration: underline;
}

/* ------------------ LOG IN STUFF -------------- */
.login_container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 30%;
}

.username,
.password {
  margin: 10px 0;
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
