/* In your CSS file */
.centered-container-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 18%;
    width: 80%;
    
  }
  

.chart{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.buttons{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  flex-direction: row;
}
